* {
  font-family: 'Istok Web', sans-serif;
  color: #a6bbb8; }

label {
  font-weight: bold; }

h3 {
  font-weight: bold;
  font-size: 1.5em; }

option {
  color: #2f3c3b; }

p {
  line-height: 20px; }

.main {
  background-color: #2f3c3b; }

.home,
.results {
  width: 100vw;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto; }

.banner {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/forest.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top; }

.topper {
  width: 100vw;
  height: 25vh;
  max-height: 222px;
  max-width: 1000px;
  margin: 0 auto; }

.section {
  border-top: 1px solid #a6bbb8;
  padding: 10px;
  margin: 0px;
  background-color: #2f3c3b; }

.justCenter {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav {
  display: flex;
  justify-content: center;
  align-items: center; }

.modal-content {
  background-color: #2f3c3b; }

.dateInput {
  width: auto;
  background-color: #a6bbb8;
  color: #2f3c3b;
  border-color: #21302b; }

.custom-select {
  background-color: #a6bbb8;
  color: #2f3c3b;
  border-color: #21302b; }

.pplButton,
.peopleInput {
  width: 2em;
  height: 2.25em;
  font-weight: bold;
  font-size: 1.25em;
  background-color: #a6bbb8;
  color: #2f3c3b;
  border-color: #21302b; }

.greeenButton {
  background-color: #56a54d;
  border-color: #3d733f;
  height: 2em;
  font-size: 1.5em;
  font-weight: bold;
  color: #2f3c3b; }

.groupInput {
  margin-bottom: 16px; }

.peopleGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px; }

#map,
#chart {
  width: 100%;
  height: 100%;
  max-height: 222px; }

#chart {
  align-self: center; }

.marker {
  background-image: url("mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer; }

.headerTitle {
  font-family: 'Heebo', sans-serif;
  text-align: center;
  line-height: 1em;
  margin: 0 auto; }

.title {
  font-family: 'Heebo', sans-serif; }

.col-4 {
  position: relative;
  text-align: center; }

.col-6 {
  margin: 0px;
  padding: 0px; }

.col-6:nth-of-type(2) {
  display: flex; }

.icon {
  max-height: 85px; }

.pBottom {
  position: absolute;
  bottom: 0;
  right: 16px; }

.statPeople {
  display: flex;
  align-items: center; }

.numberPpl {
  margin-right: 0.5em;
  margin-bottom: 0px;
  font-weight: bold; }

.fas {
  font-size: 1.25em; }

.floatRight {
  float: right; }

.floatLeft {
  float: left; }

.displayNone {
  display: none; }

.logo {
  font-family: 'Signika', sans-serif;
  color: #d6f0ec;
  text-align: center;
  line-height: 1em;
  margin: 0 auto; }

.fa-arrow-left {
  padding-left: 0.5em; }

.colorDark {
  padding-right: 0.5em;
  color: #2f3c3b; }

.locations {
  max-width: 650px; }

.tooltip-inner {
  background-color: #56a54d;
  color: #2f3c3b; }

.bs-tooltip-top .arrow::before {
  border-top-color: #56a54d; }

@media only screen and (min-width: 375px) {
  .dateInputs {
    display: flex;
    justify-content: space-between;
    align-items: center; } }
@media only screen and (min-width: 450px) {
  .locInput {
    width: 50%; }

  .dateInputs {
    display: inline-flex; }

  .dateTwo {
    padding-left: 2em; } }
@media only screen and (max-width: 500px) {
  .col-6:nth-of-type(1) {
    flex: 0 0 40%; }

  .col-6:nth-of-type(2) {
    flex: 0 0 60%;
    max-width: none; } }

/*# sourceMappingURL=style.css.map */
