@import 'variables.scss';

// Reset styling
* {
	font-family: 'Istok Web', sans-serif;
	color: $lightGray;
}

label {
	font-weight: bold;
}

h3 {
	font-weight: bold;
}

option {
	color: $darkGray;
}

// Page layout
.main {
	background-color: $darkGray;
}

.home,
.results {
	width: 100vw;
	height: 100vh;
	max-width: 1000px;
	margin: 0 auto;
}

.banner {
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../img/forest.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right top;
}

.topper {
	width: 100vw;
	height: 30vh;
	max-width: 1000px;
	margin: 0 auto;
}

.section {
	border-top: 1px solid $lightGray;
	padding: 10px;
	margin: 0px;
	background-color: $darkGray;
}

.justCenter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

//Input styling
.dateInput {
	width: auto;
	@include inputStyle;
}

.custom-select {
	@include inputStyle;
}

.pplButton,
.peopleInput {
	width: 2em;
	height: 2.25em;
	font-weight: bold;
	font-size: 1.25em;
	@include inputStyle;
}

.greeenButton {
	background-color: #56a54d;
	border-color: #3d733f;
	height: 2em;
	font-size: 1.5em;
	font-weight: bold;
	color: $darkGray;
}

.groupInput {
	margin-bottom: 16px;
}

.peopleGroup {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px;
}

// results page
#map {
	width: 100%;
	height: 85%;
}

.statPeople {
	display: flex;
	align-items: center;
}

.numberPpl {
	margin-right: 0.5em;
	margin-bottom: 0px;
	font-weight: bold;
}

.fas {
	font-size: 1.25em;
}

.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}
.displayNone {
	display: none;
}

// Passific Tags
.logo {
	font-family: 'Signika', sans-serif;
	color: #d6f0ec;
	text-align: center;
	line-height: 1em;
	margin: 0 auto;
}

.fa-arrow-left {
	padding-left: 0.5em;
}

.colorDark {
	padding-right: 0.5em;
	color: $darkGray;
}

.locations {
	max-width: 650px;
}

// tooltip
.tooltip-inner {
	background-color: #56a54d;
	color: $darkGray;
}

.bs-tooltip-top .arrow::before {
	border-top-color: #56a54d;
}

@media only screen and (min-width: 375px) {
	.dateInputs {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@media only screen and (min-width: 450px) {
	.locInput {
		width: 50%;
	}

	.dateInputs {
		display: inline-flex;
	}

	.dateTwo {
		padding-left: 2em;
	}
}
