@import 'variables.scss';

// Reset styling
* {
	font-family: 'Raleway', sans-serif;
	color: $lightGray;
}

label {
	font-weight: bold;
}

h3 {
	font-weight: bold;
	font-size: 1.5em;
}

option {
	color: $darkGray;
}

p {
	line-height: 23px;
	font-size: large;
}

// Page layout
.main {
	background-color: $darkGray;
}

.home {
	width: 100vw;
	height: 100vh;
	max-width: 1000px;
	margin: 0 auto;
}

.results {
	width: 100vw;
	height: 100%;
	min-height: 100vh;
	max-width: 1000px;
	margin: 0 auto;
}

.banner {
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../img/mountValley.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.topper {
	width: 100vw;
	height: 25vh;
	max-height: 222px;
	max-width: 1000px;
	margin: 0 auto;
	border-bottom: 1px solid $lightGray;
}

.section {
	border-bottom: 1px solid $lightGray;
	@include sections;
}

.section:last-of-type {
	border-bottom: none;
}

.homeSection {
	border-top: 1px solid $lightGray;
	@include sections;
}

.justCenter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

.modal-content {
	background-color: $darkGray;
}

//Input styling
.dateInput {
	@include inputStyle;
}

.custom-select {
	@include inputStyle;
}

.pplButton,
.peopleInput {
	width: 2em;
	height: 2.25em;
	font-weight: bold;
	font-size: 1.25em;
	@include inputStyle;
}

.greeenButton {
	background-color: $lightBlue;
	border-color: $darkBlue;
	height: 2em;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Philosopher', sans-serif;
	color: $lightGray;
}

.groupInput {
	margin-bottom: 16px;
}

.peopleGroup {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px;
}

// results page
#map,
#chart {
	width: 100%;
	height: 100%;
	max-height: 222px;
	margin: 0 auto;
}
#chart {
	align-self: center;
}

// map marker
.marker {
	background-image: url('mapbox-icon.png');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.headerTitle {
	font-family: 'Philosopher', sans-serif;
	@include logo;
}

.title {
	font-family: 'Heebo', sans-serif;
}

.col-4 {
	position: relative;
	text-align: center;
}

.col-10,
.col-2 {
	margin: 0;
	padding: 0;
}

.mcButton {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $lightBlue;
	color: $lightGray;
	font-size: 1em;
	font-family: 'Heebo', sans-serif;
	text-align: center;
}

.rotate {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.icon {
	max-height: 85px;
}

.pBottom {
	position: absolute;
	bottom: 0;
	right: 16px;
}

.statPeople {
	display: flex;
	align-items: center;
}

.numberPpl {
	margin-right: 0.5em;
	margin-bottom: 0px;
	font-weight: bold;
}

.modal-title {
	font-family: 'Philosopher', sans-serif;
	font-size: 1.5em;
}

.modalTitle {
	font-family: 'Heebo', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 0.7em;
	padding-top: 0.5em;
}

.modalInput {
	@include inputStyle;
}

.fas {
	font-size: 1.25em;
}

.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}
.displayNone {
	display: none;
}
.sideNote {
	font-size: 0.75em;
	line-height: 0.75em;
}

// Passific Tags
.logo {
	font-family: 'Philosopher', sans-serif;
	color: $darkGray;
	@include logo;
}

.fa-arrow-left {
	padding-left: 0.5em;
}

.colorDark {
	padding-right: 0.5em;
	color: $darkGray;
}

.locations {
	max-width: 650px;
}

// calender api styling
.ui-datepicker-calendar {
	background-color: $darkGray;
}

.ui-datepicker-header {
	background-color: $lightBlue;
}

// tooltip
.tooltip-inner {
	background-color: $lightBlue;
	color: $lightGray;
}

.bs-tooltip-top .arrow::before {
	border-top-color: $lightBlue;
}

// media sizes
@media only screen and (min-width: 375px) {
	.dateInputs {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@media only screen and (min-width: 450px) {
	.locInput {
		width: 50%;
	}

	.dateInputs {
		display: inline-flex;
		// width: 8em;
	}

	.dateTwo {
		padding-left: 2em;
	}
}

@media only screen and (min-width: 1000px) {
	.result {
		max-width: 750px;
		margin: 0 auto;
	}

	.pBottom {
		position: fixed;
		bottom: unset;
		right: unset;
		margin-top: 0.75em;
	}

	.icon {
		width: fit-content;
	}
}
