@import "variables.scss";


// Reset styling
* {
	font-family: 'Istok Web', sans-serif;
	color: $lightGray;
}

label {
	font-weight: bold;
}

h3 {
	font-weight: bold;
}


// Page layout
.home,
.results {
	width: 100vw;
	height: 100vh;
	background-color: $darkGray;
}

.banner {
	width: 100%;
	height: 40%;
	background-image: url(../img/forest.jpg);
	background-position: center;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;
}

.topper {
	width: 100vw;
	height: 30vh;
}

.section {
	border-top: 1px solid $lightGray;
	padding: 10px;
	margin: 0px;
}

.justCenter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}

.logo {
	font-family: 'Signika', sans-serif;
	color: #d6f0ec;
	text-align: center;
	line-height: 1em;
}


//Input styling
.dateInput {
	width: auto;
	@include inputStyle
}

.peopleInput {
	width: 2em;
	text-align: center;
	@include inputStyle
}

.custom-select {
	@include inputStyle
}

.pplButton {
	width: 2em;
	font-weight: bold;
	font-size: 1.25em;
	@include inputStyle
}

.greeenButton {
	background-color: #56a54d;
	border-color: #3d733f;
	height: 2em;
	font-size: 1.5em;
	font-weight: bold;
	color: $darkGray;
}

#map {
	position: inherit;
	width: 100%;
	height: 80%;
}

.statPeople {
	display: flex;
	align-items: center;
}

.numberPpl {
	margin-right: 0.5em;
	margin-bottom: 0px;
	font-weight: bold;
}

.fas {
	font-size: 1.25em;
}

.floatRight {
	float: right;
}
