$lightGray: #a6bbb8;
$darkGray: #2f3c3b;
$lightGreen: #56a54d;
$darkGreen: #3d733f;

@mixin inputStyle {
	background-color: $lightGray;
	color: $darkGray;
	border-color: #21302b;
}

@mixin logo {
	text-align: center;
	line-height: 1em;
	margin: 0 auto;
}

@mixin sections {
	padding: 10px;
	margin: 0px;
	background-color: $darkGray;
}
