$lightGray: #e2f4f6;
$darkGray: #2f3b3b;
$lightGreen: #3c77a8;
$darkGreen: #394d70;

@mixin inputStyle {
	background-color: $lightGray;
	color: $darkGray;
	border-color: #21302b;
}

@mixin logo {
	text-align: center;
	line-height: 1em;
	margin: 0 auto;
}

@mixin sections {
	padding: 10px;
	margin: 0px;
	background-color: $darkGray;
}
